html{

}
body{
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
}
footer{
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('../img/foot.png');
  color: rgb(255, 255, 255);
  font-family: Heuristica;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  height: 255px;
  width: 100%;
}
.footer{
  margin-top: 2%;
  position: relative;
}
.footer img{
  margin-left: 2%;
}
.callFooter{
    position: absolute;
    right: 2%;
    top:15%;
}
.footer15{
  position: relative;
  margin-left: 5%;
}
.callFooter a {
  white-space: nowrap;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #4B1C1C;
  padding: 2% 8% 2% 8% ;
  border: 1px solid rgb(255, 255, 255);
}
.callFooterA{
  white-space: nowrap;
  margin-left: 2%;
  margin-right: 2%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer2{
  bottom: -1%;
  position: absolute;
  font-size: small;
  background: rgba(0, 0, 0, 0.59);
backdrop-filter: blur(10px);
width: 100%;
height: 61.45px;
}
.footer2 span{
  margin-top: 0.5%;
  float: right;
  margin-right: 9%;
}
.footer2 img{
  margin-top: 1%;
  margin-left: 12%;
}
.footer2A{
  color: rgb(254, 254, 254);
  text-decoration: underline;
}
/* .divLogo{
  position: absolute;
  width: 223.11px;
  height: 87.17px;
} */

@font-face {
 font-family: Heuristica;
 src: url('../font/HeuristicaRegular/HeuristicaRegular.ttf');
}
@font-face {
  font-family: Rosamunda Two;
  src: url('../font/rosamunda-two.ttf');
}
.mainTitle{
  text-align: left;
  margin-top: 20%;
  float: left;
  position: absolute;
  z-index: 1;
  width: 38%;
  height: 40%;
  background: rgba(57, 6, 6, 0.77);
  backdrop-filter: blur(10px);
  font-family: Heuristica;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.Aristokrat{
  color: rgb(255, 255, 255);
  font-family: Rosamunda Two;
  margin-left: 25%;
  bottom: 0;
  position: absolute;
  font-size: 170px;
  z-index: 2;
}
.mainTitle span{
  font-weight: bold;
  position: absolute;
  white-space:nowrap;
  margin-top: 8%;
  margin-left: 10%;
  font-family: Heuristica;
  font-size: 30px;
  letter-spacing: 0.02em;
}
.mainTitle section{
  line-height: 20px;
  position: absolute;
  white-space:nowrap;
  margin-top: 11%;
  margin-left: 10%;
  font-family: Heuristica;
}
.mainTitle img{
  position: absolute;
  margin-left:80%;
  width: 22%;
  height: 28%;
}
.obod1{
  position: absolute;
  border: 5px solid #4B1C1C;
box-sizing: border-box;
  height: 700px;
  width: 700px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.obod{
  top: -2.5%;
}
.obod2{
  bottom: -2.5%;
}
/* .obod3{
  position: absolute;


border: 5px solid #4B1C1C;
box-sizing: border-box;

} */
.call{
  line-height: 160%;
  margin-top: 0%;
  margin-left: 8%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 120%;
  height: 100%;
}
.callA{
  margin-top: 1%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 87%;
  background-color: #4B1C1C;
  padding: 5.5% 12.5% 5.5% 12.5% ;
  box-shadow: -3px -3px 0px rgba(229, 229, 229, 0.46) ;
}

.headTags{
white-space:nowrap;
width: 8.55%;
height: 5%;
margin-top: 2.6%;
margin-left: 1%;
font-family: Heuristica;
font-size: medium;
line-height: 1%;
letter-spacing: 0.01em;
text-decoration: none;
color: #FFFFFF;
}
/* .textCenter{
  text-align: center;
  color: #4B1C1C;
}
.imgLogo{
  position: relative;
  margin-left: 42%;
  width: 17%;
} */
.headTags:hover { text-decoration: underline;}

#logo{
  margin-right: 5%;
  margin-top: 0.7%;
  margin-left: 10.5%;
  width: 9%;
  height: 60%;
}
.head{
  position: relative;
  width: 100%;
  height: 685px;
  background-image: url("../img/фон.jpg");
  background-size: 100.7%;
}
.content {

}
.header {
  display: flex;
    position: absolute;
    height: 12%;
    z-index:4;
    width: 100%;
    background-color: opacity('1');
     opacity: 1;
}
.scrolled .header {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 12%;
    background: #fff;
}
.scrolled .spacer {
    height: 12%;
}
.flexCenter{
  margin-top: 2%;

}
.flexCenter *{
  color: #4B1C1C;
  font-family: Heuristica;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockWall{
  font-family: Heuristica;
  margin-top: 1%;
  color: #4B1C1C;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.leftWall{
  background-image: url('../img/leftWall.jpg');
  color: rgb(0, 0, 0);
  background-size: cover;
  width: 47%;
  text-align: right;
  height: 326px;
  padding: 0.8% 1% 1% 1%;
  font-size: medium;
  line-height: 70%;
}
.rightWall{
  text-align: left;
  background-image: url('../img/rightWall.jpg');
  background-size: cover;
  width: 47%;
  padding: 0.8% 1% 1% 1%;
  height: 326px;
  letter-spacing: 0.01em;
  line-height: 70%;
  font-size: medium;
  color: rgb(0, 0, 0);
}
.textMain{
  color: #4B1C1C;
  font-size: x-large;
  font-weight: bold;
  line-height: 130%;
}

.blockWall p{
  line-height: 75%;
  font-size:large;
  font-weight: bold;
}
.blockWall section{
  line-height: 90%;
}
.dowloandEZ{
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.dowloandZ{
  margin-top: 1.5%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 1% 2% 1% 2%;
  box-shadow: -5px -5px 0px rgba(229, 229, 229, 0.46) ;
}

a.dowloandZ:hover{
    background: #6E3434;
}
a.visualHouse:hover{
    background: #6E3434;
}
.textCenter{
  font-family: Heuristica;
  text-align: center;
  color: #4B1C1C;
  font-size: large;
}
.textCenter span{
  font-weight: bold;
  font-size: xx-large;
}
.buildforkey{
  font-family: Heuristica;
  display: flex;
}
.buildforkeyCenter{
  margin:10% 15% 5% 15%;
  background-color: #EAEAEA;
  width: 70%;
  height: 342px;

}
.buildforkeyCenter section{
  line-height: 140%;
  margin-left: 3%;
  position: relative;
margin-top:8%;
}
.buildforkeyCenter span{
  color: #4B1C1C;
  font-size:large;
  font-weight: bold;
  line-height: 280%;
}
.buildforkeyCenter a{
  position: absolute;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 2% 4% 2% 4%;
  box-shadow: -5px -5px 0px #C5C5C5;
}
.imgHouse1{
    z-index: 3;
  position: absolute;
  margin-left: 44%;
  padding: 0%;
  margin-top: 3.5%;

}
.imgHouse2{
  z-index: 3;
  margin-top: 8%;
  margin-left: 62%;
  padding: 0%;
  position: absolute;
}
.borderDark{
    z-index: 2;
    margin-top: 9.5%;
    position: absolute;
    margin-left: 14.5%;
}
.consalting{
  font-family: Heuristica;
  display: -webkit-flex;
display: flex;
  margin-bottom: 5%;
  height: 678px;
  width: 100%;
  margin-top: 10%;
  background-image: url('../img/фон2.png');
  color: rgb(255, 255, 255);
}
.consalting div{
  position: relative;
  margin-left: 8%;
  margin-top: 3%;
  text-align: center;
}
.consalting span{
  font-family: Rosamunda Two;
  font-size: 85px;
  line-height: 108px;
}
.consalting-box{
  background: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(10px);
  width: 120%;
  height: 60%;
  /* padding: 7% 10% 7% 10%; */
}
.consalting-box a{
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 4% 8% 4% 8%;
  box-shadow: -5px -5px 0px #C5C5C5;
}
.consalting-box img{
  position: absolute;
}
.consalting-boxImg1{
  right: -21.6%;
  top: 28%;
}
.consalting-boxImg2{
  bottom: 9.5%;
  left: -1.5%;
}
#slider{
  margin-left: 10%;
  margin-top: 2.5%;
  float: right;
}
.buttonsA{
  font-size: large;
  width: 72%;
  margin-left: 20%;
  display: flex;
  align-items: stretch;
  margin-bottom: 1%;
}
.buttonsA a{
  font-weight: bold;
  font-family: Heuristica;
  font-size: large;
line-height: 30px;
letter-spacing: 0.01em;
  color: #777777;
  text-decoration: none;
}
.buttonsA a:hover{
  cursor: pointer;
}
.buttonsA section{
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
.buttonsA1{
  position: relative;
  font-size: large;
  width: 72%;
  margin-left: 20%;
  display: flex;
  align-items: stretch;
  margin-bottom: 1%;
}
.buttonsA1 a{
  font-weight: bold;
  font-family: Heuristica;
  font-size: large;
line-height: 30px;
letter-spacing: 0.01em;
  color: #777777;
  text-decoration: none;
}
#decor1{
 display: block;
 position: absolute;
 margin-left: -5%;
}

#showForZakaz{
  color: #4B1C1C;
}
#oknoInfo{
  position: relative;
  width: 100%;
  padding: 2% 0% 2% 0%;
  background: #EAEAEA;
  backdrop-filter: blur(10px);
z-index: 2;
text-align: center;
font-family: Heuristica;
font-size: medium;
line-height: 30px;/* identical to box height */
font-weight: bold;
color: #4B1C1C;

}
#borderOknoInfo{
  position: relative;
  padding: 0.2% 0.2% 0.2% 0.2%;
  border: 1px solid #4B1C1C;
  box-sizing: border-box;
  width: 72%;
  margin-left: 14%;
  margin-bottom: 2%;
}
.oknoInfoRamka {
  position: absolute;
  bottom: -29%;
  left: -0.8%;
}
.displayBlockNone{
  display: flex;
  align-items: stretch;
  width: 72%;
  margin-left: 14%;
  margin-bottom: 15%;
  font-family: Heuristica;
}

#displayBlockNoneSection1{
  display: block;
  position: relative;
  width: 100%;
}
#displayBlockNoneSection1 img{
  width: 100%;
  height: 100%;
}
#displayBlockNoneSection2{
  display: block;
  position: relative;
  width: 80%;
  background: #EAEAEA;
  margin-left:1%;
  margin-right:1%;
  padding-top: 3%;
  padding-left: 1%;
  line-height: 25px;
}
#displayBlockNoneSection2 span{
  font-size: x-large;
  color: #4B1C1C;
}
#displayBlockNoneSection3{
  display: block;
  width: 80%;
  height: 100%;
  padding-bottom: 6%;
  background: #EAEAEA;
  padding-top: 3%;
  padding-left: 1%;
  margin-left:1%;
  margin-right:1%;
  line-height: 25px;
}
#displayBlockNoneSection3 span{
  line-height: 50px;
  font-size: x-large;
  color: #4B1C1C;
}
#displayBlockNoneSection2 p{
  line-height: 10px;
  font-weight: bold;
}
#displayBlockNoneSection3 p{
  font-weight: bold;
  line-height: 10px;
}
#displayBlockNoneSection3 a{
  position: absolute;
  margin-left: -1%;
  margin-top: 6.1%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 1.5% 3% 1.5% 3%;
  box-shadow: -5px -5px 0px #C5C5C5;
}
#displayBlockNoneSection3 a:hover{
  background-color: #6E3434;
}
#displayBlockNoneSection5 a:hover{
  background-color: #6E3434;
}
#displayBlockNoneSection7 a:hover{
  background-color: #6E3434;
}
#displayBlockNoneSection4{
  position:relative;
  margin-left: 5%;
  display: none;
}
#displayBlockNoneSection5{
  display: none;
  background: #EAEAEA;
  width: 70%;
  background: #EAEAEA;
  padding-top: 3%;
  padding-left: 3%;
  margin-left:2%;
  margin-right:1%;
  line-height: 25px;
  display: none;
  font-size: medium;
  line-height: 25px;
}
#displayBlockNoneSection5 span{
  margin-top: 0%;
  font-weight: bold;
  line-height: 50px;
  font-size: xx-large;
  color: #4B1C1C;
}
#displayBlockNoneSection5 form{
  position: absolute;
  margin-top: 5%;
  width: 100%;
  margin-left: 6.5%;
}

#displayBlockNoneSection6{
  position:relative;
  margin-left: 5%;
  display: none;
}

#displayBlockNoneSection7{
  display: none;
  background: #EAEAEA;
  width: 70%;
  padding-bottom: 2%;
  background: #EAEAEA;
  padding-top: 3%;
  padding-left: 3%;
  margin-left:2%;
  margin-right:1%;
  line-height: 25px;
  display: none;
  font-size: medium;
  line-height: 25px;
}
#displayBlockNoneSection7 span{
  margin-top: 0%;
  font-weight: bold;
  line-height: 50px;
  font-size: xx-large;
  color: #4B1C1C;

}
#displayBlockNoneSection7 form{
  position: absolute;
  margin-top: 5%;
  width: 100%;

  margin-left: 6.5%;
}
#displayBlockNoneSection5 a{
  position: absolute;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 2% 4% 2% 4%;
  box-shadow: -5px -5px 0px #C5C5C5;
}
#displayBlockNoneSection7 a{
  position: absolute;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #4B1C1C;
  padding: 2% 4% 2% 4%;
  box-shadow: -5px -5px 0px #C5C5C5;
}
#displayBlockNoneSection4 img{
  width: 100%;
  height: 100%;
}
#displayBlockNoneSection6 img{
  width: 100%;
  height: 100%;
}
.decor10{
  margin-left: 14%;
}
.close{
position: absolute;
top:21%;
right: 35.5%;
text-decoration: none;
color: #4B1C1C;
}
.modalbackground {
color:#4B1C1C;
margin: 0; /* убираем отступы */
padding: 0; /* убираем отступы */
position: fixed; /* фиксируем положение */
top:0; /* растягиваем блок по всему экрану */
bottom:0;
left:0;
right:0;
background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
z-index:100; /* выводим фон поверх всех слоев на странице браузера */
opacity:0; /* Делаем невидимым */
pointer-events: none; /* элемент невидим для событий мыши */
}

/* при отображении модального окно - именно здесь начинается магия */
.modalbackground:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
}

/* ширина диалогового окна и его отступы от экрана */
.modalwindow {
	width: 100%;
	max-width: 400px;
	margin: 10% auto;
	padding: 2%;
	background: #fff;
	border-radius: 3px;
}

/* настройка заголовка */
.modalwindow h2 {
padding: 0;
margin-left: 6%;
}

/* оформление сообщение */
.modalwindow p {
padding: 0;
margin: 4% 0 8% 0;
}

/* вид кнопки ЗАКРЫТЬ */

/* вид кнопки ЗАКРЫТЬ при наведении на нее мыши */
.dowloandZ a:hover {
background: #6E3434;
}

.close:hover {
color: #6E3434;
}

.dowloandZ1{
  display: block;
  color: #fff;
  padding: 6%;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #4B1C1C;
  box-shadow: -5px -5px 0px rgba(229, 229, 229, 0.46) ;
}

a.dowloandZ1:hover{
    background: #6E3434;
}

.group {
  position: relative;
  margin-bottom: 30px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}
label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #6E3434;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #6E3434;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

#slider-container {
  margin-left: 15%;
  margin-top: 1%;
  width: 400px;
  height: 550px;
  position:relative;
}

#slider-mask {
  width: 400px;
  height: 550px;
    overflow:hidden;
    position:relative;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.slide {
    text-align: center;
    width: 400px;
    height: 550px;
    top:0;
    position:absolute;
    color:white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.slide:first-child {
    display:block;
}
.one {
  width: 400px;
  height: 550px;
}
.two {
  width: 400px;
  height: 550px;
}
.three {
  width: 400px;
  height: 550px;
}
.but{
  right: 0;
  margin-right: 20%;
bottom: -258%;
    position: absolute;
    /* top: 0; */
    z-index: 50;
    height: 250px;
    width: 250px;
}

/* #prev{
  position: relative;
  text-decoration: none;
  background: rgb(255, 255, 255);
  background-size:cover;
  height: 500px;
  width: 500px;
}
#next{
  background: #6E3434;
  text-decoration: none;
} */

#upper{
  display:none;
  z-index: 50;
  position: fixed;
  right: 3%;
  bottom: 10%;
}
